@model IEnumerable<Squad.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @{
                int count = 0;
                @foreach (var item in Model)
                {
                        <td>
                                <img src="@Html.Encode(item.Picture)" /><br />
                        <CENTER>@Html.DisplayFor(modelItem => item.Name)</CENTER>
                        </td>
                    @if (++count % 10 == 0)
                    {
                    <tr>
                    </tr>
                    }
                }
            }
        </tr>
    </tbody>
</table>
