@model IEnumerable<Squad.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="@Html.Encode(item.Picture)" /><br />
                    @Html.DisplayFor(modelItem => item.Code)-@Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
