@model IEnumerable<Squad.Models.Country>

@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>

<table class="table">
    <tbody>
            @{
            
             int count = 0;
             <tr>
                 @foreach (var item in Model) {
               
                    <td>
                        <img src="@Html.Encode(item.Picture)" style="border-width:5px;border-color:black" /><br>
                                @Html.ActionLink(item.Name, "Players", "Players", new {  id=item.Code  }) 
                    </td>
               
                    @if (count % 8 == 0){
                        
                    }
                }
             </tr>
            }
    </tbody>
</table>
